<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>

<p th:text="${person.getName() + ', ' + person.getYear()}" style="font-size: 1.4em">VALUE</p>
<hr/>

<h1 style="font-size: 1.5em">Книги читателя:</h1>
<div th:each="book : ${books}" id="books" th:if="${!books.isEmpty()}">
    <p th:text="${book.getName() + ', ' + book.getAuthorName() + ', ' + book.getYear()}"></p>
</div>
<p th:if="${books.isEmpty()}">У читателя нет ни одной книги</p>

<hr/>

<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Редактировать">
</form>

<br/>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Удалить"/>
</form>

</body>
</html>